<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MI\CMSPageCounter\Api\CustomyCmsPageCounterRepositoryInterface"
                type="MI\CMSPageCounter\Model\CustomyCmsPageCounterRepository"/>
    <preference for="MI\CMSPageCounter\Api\Data\CustomyCmsPageCounterInterface"
                type="MI\CMSPageCounter\Model\Data\CustomyCmsPageCounter"/>
    <preference for="MI\CMSPageCounter\Api\Data\CustomyCmsPageCounterSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults"/>
    <preference for="MI\CMSPageCounter\Api\CustomyCmsPageCounterManagementInterface"
                type="MI\CMSPageCounter\Model\CustomyCmsPageCounterManagement"/>
    <virtualType name="MI\CMSPageCounter\Model\ResourceModel\CustomyCmsPageCounter\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">customy_cms_page_counter</argument>
            <argument name="resourceModel" xsi:type="string">
                MI\CMSPageCounter\Model\ResourceModel\CustomyCmsPageCounter\Collection
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="customy_cms_page_counter_listing_data_source" xsi:type="string">
                    MI\CMSPageCounter\Model\ResourceModel\CustomyCmsPageCounter\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
</config>
